#Projects {
  align-items: start;
  justify-content: center;
}
#Projects article {
  text-align: center;
}
#Projects .port__inner {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
}
#Projects .port__inner .port__title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 3rem;
}

#Projects .port__inner .port__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 5200px;
}
#Projects .port__inner .port__wrap .port__item {
  width: 500px;
  margin-right: 20px;
}
#Projects .port__inner .port__wrap .port__item .img {
  display: block;

  transition: margin-top 0.3s;
}
#Projects .port__inner .port__wrap .port__item .img img {
  border-radius: 5px;
  filter: saturate(0%);
  transition: all 0.3s;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

#Projects .port__inner .port__wrap .port__item .img:hover img {
  filter: saturate(100%);
}

#Projects .port__inner .port__wrap .port__item .title {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.8rem 0;
  font-weight: 700;
  color: var(--black100);
  border-bottom: 2px solid var(--black100);
  margin-bottom: 1rem;
}

#Projects .port__inner .port__wrap .port__item .desc {
  font-size: 1rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.contribution {
  border: 1px solid #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
}
@media (max-width: 800px) {
  #Projects {
    justify-content: center;
  }
  #Projects .port__inner .port__title {
    width: 100%;
    margin-bottom: 3rem;
    font-size: 30px;
    height: auto;
    top: 68px;
    background-color: var(--mainBg-color);
    z-index: 1000;
  }
  #Projects .port__inner .port__wrap .port__item {
    width: 400px;
  }
  #Projects .port__inner .port__wrap .port__item .title {
    font-size: 1rem;
  }
  #Projects .port__inner .port__wrap .port__item .desc {
    font-size: 0.75rem;
  }
  .contribution {
    font-size: 0.75rem;
  }
}

@media (max-width: 500px) {
  #Projects .port__inner .port__wrap .port__item {
    width: 200px;
  }
  #Projects .port__inner .port__wrap .port__item .img img {
    height: 200px;
  }
}
