@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/nanumSquareNeo/nanumSquareNeo-Light.woff2")
      format("woff2"),
    url("../../fonts/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/nanumSquareNeo/nanumSquareNeo-Regular.woff2")
      format("woff2"),
    url("../../fonts/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/nanumSquareNeo/nanumSquareNeo-Bold.woff2")
      format("woff2"),
    url("../../fonts/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2")
      format("woff2"),
    url("../../fonts/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff")
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/nanumSquareNeo/nanumSquareNeo-Black.woff2")
      format("woff2"),
    url("../../fonts/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff");
  font-display: swap;
}
